<div class="container" style="max-width:1000px">
    <div class="middlepart">
        <div ng-show="!registered">
            <form name="form "class="form-horizontal" role="form" novalidate="novalidate" method="post">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Retrieval Code:</label>
                    <div class="col-sm-4">
                      <input class="form-control input-sm" ng-model="code" id="code" name="code" autofocus="autofocus" required="required" /><span ng-show="form.code.$dirty &amp;&amp; form.code.$error.required" class="help-block">Code cannot be empty</span>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="submitCode()" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="registered">
            <div ng-show="jobs.length === 0">
                You don't have any job yet! <a href="/create">Create</a> one now.
            </div>
            <div ng-show="jobs.length > 0">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="col-sm-4" style="text-align: center;">PDB ID</th>
                        <th class="col-sm-4" style="text-align: center;">Job Start Time</th>
                        <th class="col-sm-4" style="text-align: center;">Status</th>
                    </tr> 
                    <tr ng-repeat="job in jobs">
                        <td>{{job.pdbid}}</td>
                        <td>{{job.date | date: 'medium'}}</td>
                        <td ng-if="job.status == 1">Error</td>
                        <td ng-if="job.status == 2"><a href="/view/{{job._id}}">Show Result</a></td>
                        <td ng-if="job.status == 0">
                            <div class="progress">
                              <div class="progress-bar active" role="progressbar" aria-valuenow="{{job.progress}}" aria-valuemin="0" aria-valuemax="10" ng-style="{width : ( job.progress/10.0*100 + '%' ) }">
                                <span>{{job.progress/10.0*100 | number:0}}%</span>
                              </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
